@model EditPassword;

<form method="post" class="mt-lg-4 bg-light text-black w-25 mx-auto d-flex flex-column gap-5">

    @if (ViewData["SucessMessage"] != null)
    {
        <div class="text-primary">@ViewData["SuccessMessage"]</div>
    }
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-primary">@ViewData["ErrorMessage"]</div>
    }
    <div class="d-flex justify-content-between">
            <label>CurrentPassword</label>
            <input type="password" asp-for="currentPassword" />
            <span asp-validation-for="currentPassword" class="text-danger"></span>

        </div>
        <div class="d-flex justify-content-between">
            <label>NewPassword</label>
            <input type="password" asp-for="newPassword" />

        <span asp-validation-for="currentPassword" class="text-danger"></span>

        </div>
        <button aps-route-id="@ViewData["Id"]">submit</button>
    </form>

