html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
tabel{
    border:3px solid gray;
    border-collapse:collapse;
  
  margin:auto;

}

td,th {
    padding: 15px;
    border: 3px solid gray;
    margin:15px;
}
.edit{
    background-color:red;
    color:white;
    padding:3px;
    border-radius:3px;
    text-decoration:none;
    margin:2px;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}